/* ESTILIZAÇÃO GERAL*/

#userEdit {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-white-main);
  color: var(--color-black-light);
}

#userEdit .header {
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: stretch;
  height: auto;
}

#userEdit .header h1 {
  font-size: 2rem;
}

#userEdit .header h1 {
  margin: 0 10%;
}

/* ESTILIZAÇÃO DO TITULO E SUBTÍTULO DA PÁGINA */

#userEdit .userEdit-welcome {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  font-weight: 400;
  margin-left: 4vw;  
}

#userEdit .userEdit-welcome h1 {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-weight: 400;
}

#userEdit .userEdit-welcome h2 {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  padding-top: 12px;
}

#userEdit .userEdit-welcome h2 svg:hover {
  color: var(--color-gray-light) !important;
  cursor: pointer;
}

#userEdit .userEdit-content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
  margin-bottom: 50px;
}

/* ESTILIZAÇÃO DO FORMULÁRIO */

#userEdit .userEdit-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-radius: 2%;
  margin-top: 1rem;
}

#userEdit .userEdit-form .form-sections {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

#userEdit .userEdit-form .userEdit-role {
  display: flex;
  flex-direction: column;
}

#userEdit .userEdit-form input {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#userEdit .userEdit-form .userEdit-submit {
  margin-top: 5rem;
}

#userEdit .userEdit-form .userEdit-submit button {
  float:right;
}

#userEdit form label {
  color: var(--color-black-light);
}

#userEdit .footer {
  height: auto;
  align-items: stretch;

  padding: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  #userEdit .userEdit-content .userEdit-welcome {
    width: 80%;
  }

  #userEdit .userEdit-welcome h1 {
    font-size: 5vw;
  }

  #userEdit .userEdit-welcome h2 {
    font-size: 3vw;
  }

  #userEdit .userEdit-content {
    margin-top: 3rem;
    padding: 0%;
  }
  #userEdit .userEdit-form {
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
  }

  #userEdit .userEdit-form .userEdit-data,
  #userEdit .userEdit-form .form-sections {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #userEdit .userEdit-form input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  #userEdit .userEdit-form .userEdit-submit button {
    float: left;
  }

  #userEdit .footer {
    height: auto;
    align-items: stretch;
  
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
