#homepage .homepage-container {
  margin-left: 10%;
  margin-right: 10%;
}

#homepage .footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

#homepage .search-or-filter form,
.filter {
  width: 50%;
  display: inline-block;
}

#homepage .search-or-filter form button {
  margin-left: 1%;
  margin-right: 1%;
}

#homepage .homepage-container h1 {
  margin-top: 4%;
  margin-bottom: 1%;
  font-weight: normal;
  color: var(--color-black-light);
}

#homepage .search-or-filter {
  margin-bottom: 3%;
}

#homepage .btn-open-ticket,
.btn-create-user {
  margin-top: 2%;
  text-align: end;
}
