* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--color-white);
  position: relative;
}

.loading_container {
  position: absolute;

  background-color: #e9e9e963;
  backdrop-filter: blur(1px);

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_lottie {
  max-width: 10rem;
  max-height: 10rem;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }
  
  h4 {
    font-size: 12px !important;
  }

  * {
    font-size: 11px !important;
  }
}
