/* ESTILIZAÇÃO GERAL*/

#login .header {
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  align-items: stretch;
  height: auto;
}

#login .header h1 {
  font-size: 2rem;
}

#login {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary-main);
}

#login h1 {
  size: 3rem;
}

#login h2 {
  size: 2rem;
  color: var(--color-white-main);
}

#login .login-container {
  margin-left: 10%;
  margin-right: 10%;
}

#login .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ESTILIZAÇÃO DO FORMULÁRIO */

#login .login-form,
#login .login-form section {
  display: flex;
  flex-direction: column;
}

#login .login-form {
  background-color: var(--color-white-main);
  padding: 3rem 3rem 2rem;
  height: 50%;
  width: 50%;
  border-radius: 2%;
  margin-top: 1rem;
}

#login .login-form input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#login form Button {
  align-self: center;
  margin: 30px;
}

#login form label {
  color: var(--color-black-light);
}

#login span {
  cursor: pointer;
 }

/* ESTILIZAÇÃO DO TITULO E SUBTITULO DA PÁGINA */

#login .login-content .login-welcome {
  width: 50%;
  color: var(--color-white-main);
  margin-top: 1rem;
}

#login .login-content .login-welcome h2 {
  font-weight: 400;
}

/* ESTILIZAÇÃO DO BOTÃO DE RECUPERAR A SENHA */

#login #recover-password {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: right;
  color: var(--color-black-light);
  font-size: 0.9rem;
}

#login #recover-password:hover {
  color: var(--color-gray-main);
  transition: 200ms all;
}

#login .footer {
  height: auto;
  align-items: stretch;

  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  position: absolute;
  bottom: 0;
  left: 0;
}

/* RESPONSIVIDADE */

@media (min-width: 1830px) {
  #login .login-form {
    padding: 3rem 3rem 2rem;
    width: 40%;
    border-radius: 3%;
  }

  #login .login-content .login-welcome {
    width: 40%;
    margin-top: 1rem;
  }
}

@media (max-width: 1024px) {
  #login .login-form {
    padding: 3rem 3rem 2rem;
    width: 70%;
  }

  #login .login-content .login-welcome {
    width: 70%;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  #login .login-form {
    background-color: var(--color-primary-main);
    padding: 0;
    height: 100%;
    width: 100%;
  }

  #login form label {
    color: var(--color-white-main);
  }

  #login #recover-password {
    color: var(--color-white-main);
  }

  #login .login-content .login-welcome {
    width: 100%;
    margin-top: 4rem;
  }

  #login button.button-primary {
    width: 100% !important;
  }
}
