#component-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

#component-container main {
  padding: 2rem 10rem 0.5rem;
}

@media only screen and (min-width: 1500px) {
  #component-container main {
    padding: 2rem 22rem 4rem;
  }
}

@media only screen and (max-width: 800px) {
  #component-container main {
    padding: 2rem 4rem 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #component-container main {
    padding: 2rem 2rem 4rem;
  }
}

