.dropdown-container span {
  font-size: 1rem;
  color: var(--color-white-main);
  align-self: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.dropdown-container ul {
  position: fixed;
  padding: 1em;
  background-color: var(--color-white-main);
  color: var(--color-black-light);
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(33, 37, 41, 0.08);
}

.dropdown-container ul:first-child {
  padding-top: 0.8em;
}

.dropdown-container ul {
  width: 9rem;
}

.dropdown-container li {
  list-style: none;
  text-align: center;
}

.dropdown-container li:hover {
  cursor: pointer;
  color: var(--color-gray-dark);
}

@media only screen and (max-width: 376px) {
  div.dropdown-container #name-span {
    display: none;
  }

  div.dropdown-container svg {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }

  .dropdown-container ul {
    width: 9rem;
    position: absolute;
    right: 0.5rem;
  }
}
