.header {
  background-color: var(--color-primary-main);
  width: 100%;

  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 48px;
  padding: 0 10rem;
}

.header h1 {
  color: var(--color-white-main);
  font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 0 1rem;
  }
}
