.solution-list-container {
  width: 45%;
  height: 50vh;
}

.solution-list-container h3 {
  margin-bottom: 1rem;
}

.solution-list-container .grid-solutions {
  height: 30vh;
  overflow-y: auto;
  border-bottom: 1px solid var(--color-white-dark);
}

.solution-list-container table {
  width: 100%;
  min-width: 550px;
  height: auto;
}

.solution-list-container table th {
  color: #868e96;
  text-align: left;
  font-weight: normal;
  padding: 0.5rem;
  border-bottom: 1px solid #ced4da;
}

.solution-list-container table td {
  padding: 0.5rem;
  color: #868e96;
}

.solution-list-container table tr {
  cursor: pointer;
}

.solution-list-container table .no-results {
  color: #868e96;
  text-align: center;
  padding-top: 3%;
  cursor: default;
}

.solution-list-container .new-solution {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}
