.ticket-list-container {
  width: 100%;
  border-bottom: 1px solid var(--color-white-dark);
}

.ticket-list-container .ticket-title {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1%;
}

.ticket-list-container .grid-tickets {
  height: 50vh;
  overflow-y: auto;
}

.ticket-list-container table {
  width: 100%;
  height: auto;
}

.ticket-list-container table th {
  text-align: left;
  font-weight: normal;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-gray-dark);
}

.ticket-list-container table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ticket-list-container table tr {
  cursor: pointer;
}

.ticket-list-container table .no-results {
  text-align: center;
  padding-top: 3%;
  cursor: default;
}

/* tabs */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-black-light);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--color-primary-light);
  border-color: #dee2e6 #dee2e6 #fff;

  cursor: auto;
}
