.ticket-list-container {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  border-bottom: 1px solid var(--color-white-dark);
}

.ticket-list-container table {
  width: 100%;
}

.ticket-list-container table th {
  text-align: left;
  font-weight: normal;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-gray-dark);
}
