/* ESTILIZAÇÃO GERAL*/

#signup {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary-main);
}

#signup .header {
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  align-items: stretch;
  height: auto;
}

#signup .header h1 {
  font-size: 2rem;
}

#signup .header h1 {
  margin: 0 10%;
}

#signup .signup-welcome h1 {
  font-size: 2.3vw;
}

#signup .signup-welcome h2 {
  font-size: 1.5vw;
  color: var(--color-white-main);
}

#signup .signup-welcome h2 svg:hover {
  color: var(--color-gray-light) !important;
  cursor: pointer;
}

#signup .signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
}

/* ESTILIZAÇÃO DO FORMULÁRIO */

#signup .signup-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-main);
  padding: 5%;
  height: 50%;
  width: 50%;
  border-radius: 2%;
  margin-top: 1rem;
}

#signup .signup-form .form-sections {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

#signup .signup-form .signup-data-line {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

#signup .signup-form .signup-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#signup .signup-form input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#signup .signup-form select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#signup .signup-data-line Button {
  margin-top: 1rem;
  align-self: center;
  width: 1rem;
}

#signup form label {
  color: var(--color-black-light);
}

/* ESTILIZAÇÃO DO TITULO E SUBTITULO DA PÁGINA */

#signup .signup-content .signup-welcome {
  width: 50%;
  color: var(--color-white-main);
  margin-top: 1rem;
}

#signup .signup-content .signup-welcome h2 {
  font-weight: 400;
}

#signup .footer {
  height: auto;
  align-items: stretch;

  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 500px) {
  #signup .signup-content .signup-welcome {
    width: 100%;
  }

  #signup .signup-content .signup-form {
    width: 100%;
    padding: 0;
    background-color: var(--color-primary-main);
  }

  #signup .signup-form .form-sections,
  #signup .signup-form .signup-data-line {
    display: flex;
    flex-direction: column;
  }

  #signup form label {
    color: var(--color-white-main);
  }

  #signup .footer {
    position: absolute;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  #signup .signup-content .signup-welcome {
    width: 100%;
  }

  #signup .signup-content .signup-form {
    width: 100%;
    padding: 0;
    background-color: var(--color-primary-main);
  }

  #signup .signup-form .form-sections,
  #signup .signup-form .signup-data-line {
    display: flex;
    flex-direction: column;
  }

  #signup form label {
    color: var(--color-white-main);
  }

  #signup .footer {
    position: relative;
  }
}
