#component-container main {
  padding: 0;
}

#detail-ticket {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-height: 100%;
  overflow-y: auto;
  padding: 3% 10% !important;
}

#component-container Header {
  width: 100%;
  padding: 0% 10%;
}

#detail-ticket h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: var(--color-black-light);
}

#detail-ticket .ticket-about {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#detail-ticket .ticket-about .button-container {
  align-self: flex-end;
}

#detail-ticket .detail-ticket-title h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black-light);
  gap: 0.5rem;
}

#detail-ticket .detail-ticket-title svg {
  padding-top: 0.3vw;
}

#detail-ticket .edit-priority-button {
    margin-top: 0.5vw;
    cursor: pointer;
}

#detail-ticket select {
  padding: 0.1rem !important;
  height: 32px !important;
  cursor: pointer;
}

#detail-ticket .ticket-about p {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-about p .detail-date-created {
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-dual-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#detail-ticket .ticket-dual-info div {
  display: contents;
}

#detail-ticket .ticket-dual-info h3 {
  white-space: nowrap;
}

#detail-ticket .ticket-priority,
#detail-ticket .ticket-type,
#detail-ticket .ticket-department,
#detail-ticket .ticket-equipment {
  width: 100%;
}

#detail-ticket .ticket-priority,
#detail-ticket .ticket-type,
#detail-ticket .ticket-department,
#detail-ticket .ticket-equipment {
  display: inline-flex;
  gap: 1rem;
}

#detail-ticket .ticket-resolve-content div {
  display: flex;
  gap: 1rem;
}

#detail-ticket .description-problem {
  width: 100%;
  height: 80%;
  background-color: #f2f2f3;
  border-radius: 5px;
  color: #495057;
  min-height: 120px;
  padding: 16px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#detail-ticket #concludedAt svg {
  margin-right: 0.2rem;
}

#detail-ticket .description-block {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;
  min-height: 120px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

#detail-ticket .navigation-button {
  cursor: pointer;
}

#detail-ticket .navigation-button:hover {
  filter: brightness(40%);
}

#detail-ticket .comments-block {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  list-style: none;
}

@media only screen and (max-width: 421px) {
  #detail-ticket .ticket-about p {
    gap: 0.2rem;
    flex-direction: column;
  }
}

@media only screen and (min-width: 501px) and (max-width: 554px) {
  #detail-ticket .ticket-about p {
    gap: 0.2rem;
    flex-direction: column;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  #detail-ticket .detail-ticket-title h1 {
    gap: 0.4rem;
  }

  #detail-ticket .detail-ticket-title svg {
    padding-top: 0.4vw;
  }

  #detail-ticket .ticket-dual-info {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
  }

  #detail-ticket .ticket-dual-info .ticket-priority {
    display: flex !important;
    gap: 1rem !important;
  }

  #detail-ticket .ticket-dual-info .ticket-type,
  #detail-ticket .ticket-dual-info .ticket-department,
  #detail-ticket .ticket-dual-info .ticket-equipment {
    display: flex;
    flex-direction: column !important;
  }

  #detail-ticket .ticket-dual-info .ticket-priority h3,
  #detail-ticket .ticket-dual-info .ticket-type h3,
  #detail-ticket .ticket-dual-info .ticket-department h3,
  #detail-ticket .ticket-dual-info .ticket-equipment h3 {
    font-size: 1.2rem !important;
  }
}

@media only screen and (max-width: 500px) {
  #detail-ticket .detail-ticket-title h1 {
    font-size: 1rem;
    gap: 0.3rem;
  }

  #detail-ticket .detail-ticket-title svg {
    padding-top: 0.3vw;
  }

  #detail-ticket .ticket-dual-info {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
  }

  #detail-ticket .ticket-dual-info .ticket-priority {
    display: flex !important;
    gap: 1rem !important;
  }

  #detail-ticket .ticket-dual-info .ticket-type,
  #detail-ticket .ticket-dual-info .ticket-department,
  #detail-ticket .ticket-dual-info .ticket-equipment {
    display: flex;
    flex-direction: column !important;
  }

  #detail-ticket .ticket-dual-info .ticket-priority h3,
  #detail-ticket .ticket-dual-info .ticket-type h3,
  #detail-ticket .ticket-dual-info .ticket-department h3,
  #detail-ticket .ticket-dual-info .ticket-equipment h3 {
    font-size: 1.2rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  #detail-ticket .department-and-equipment {
    flex-direction: column;
  }

  #detail-ticket .ticket-dual-info #priority-dual-info {
    display: flex !important;
    gap: 1rem !important;
  }

  #detail-ticket .ticket-dual-info {
    flex-direction: column !important;
  }
}
