#detail-ticket {
  padding: 2rem 12rem 0.5rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  max-height: 100%;
  overflow-y: auto;
}

#detail-ticket h1, h2, h3, h4 {
  font-weight: 400;
  color: var(--color-black-light)
}

#detail-ticket .ticket-about p {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
  color: var(--color-gray-dark)
}

#detail-ticket .ticket-about p .underAnalysis,
#detail-ticket .ticket-about p .waiting {
  color: var(--color-yellow)
}


#detail-ticket .ticket-about p .done {
  color: var(--color-green)  
}

#detail-ticket .ticket-about p .notSolved {
  color: var(--color-red)
}

#detail-ticket .ticket-about p .detail-date-created {
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-about .ticket-name {
  font-size: 1.5rem;
  color: var(--color-gray-dark)
}

#detail-ticket .ticket-priority {
  display: flex;
  gap: 1rem
}

#detail-ticket .ticket-resolve-content div {
  display: flex;
  gap: 1rem
}

#detail-ticket section h3 {
}

#detail-ticket .description-block {
  width: 100%;
  height: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;
}

#detail-ticket .description-block {
  min-height: 120px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}
