#detail-ticket {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  max-height: 100%;
  overflow-y: auto;
}

#detail-ticket h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: var(--color-black-light);
}

#detail-ticket .ticket-about {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

#detail-ticket .ticket-about .button-container {
  align-self: flex-end;
}

#detail-ticket .ticket-about p {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-about p .detail-date-created {
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-about .ticket-name {
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}

#detail-ticket .ticket-dual-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
}

#detail-ticket .ticket-priority {
  margin-right: 2rem;
}

#detail-ticket .ticket-priority,
#detail-ticket .ticket-type h3 {
  width: 25rem;
}

#detail-ticket .ticket-priority,
#detail-ticket .ticket-type {
  display: inline-flex;
  gap: 1rem;
}

#detail-ticket .ticket-resolve-content div {
  display: flex;
  gap: 1rem;
}

#detail-ticket .description-problem {
  width: 100%;
  height: 80%;
  background-color: #f2f2f3;
  border-radius: 5px;
  color: #495057;
  min-height: 120px;
  padding: 16px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#detail-ticket .description-block {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: #5c8599;
  min-height: 120px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

#detail-ticket .navigation-button {
  cursor: pointer;
}

#detail-ticket .navigation-button:hover {
  filter: brightness(40%);
}

#detail-ticket .comments-block {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  list-style: none;
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  #detail-ticket .ticket-dual-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  #detail-ticket .ticket-dual-info .ticket-priority h3,
  #detail-ticket .ticket-dual-info .ticket-type h3 {
    font-size: 1.2rem !important;
  }

  #detail-ticket .ticket-dual-info .ticket-type input.input-primary {
    height: 20px !important;
  }
}

@media only screen and (max-width: 500px) {
  #detail-ticket .ticket-dual-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  #detail-ticket .ticket-dual-info .ticket-priority h3,
  #detail-ticket .ticket-dual-info .ticket-type h3 {
    font-size: 1.2rem !important;
  }

  #detail-ticket .ticket-dual-info .ticket-type input.input-primary {
    height: 20px !important;
  }
}
