/* ESTILIZAÇÃO GERAL*/

#ticket-register {
  width: 100%;
  height: 100vh;
}

#ticket-register Header {
  padding: 0% 10%;
  width: 100%;
}

#ticket-register .ticket-register-content {
  padding: 5% 10%;
}

/* ESTILIZAÇÃO DO TITULO E SUBTITULO DA PÁGINA */
#ticket-register .ticket-register-title h1 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-black-light);
  gap: 0.5rem;
}

#ticket-register .ticket-register-title svg {
  padding: 0.2vw 0;
}

/* ESTILIZAÇÃO DO FORMULÁRIO */

#ticket-register .ticket-register-form {
  padding: 3% 0 0 0;
  height: 50%;
  width: 100%;
  border-bottom: 100px;
}

#ticket-register .ticket-register-form .form-sections {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
}

#ticket-register .ticket-register-form input,
#ticket-register .ticket-register-form select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 50%;
}

#ticket-register
  .ticket-register-form
  .ticket-register-data
  .ticket-register-ticket-title,
#ticket-register .ticket-priority {
  width: 45%;
}

#ticket-register .ticket-register-form .ticket-register-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ticket-register
  .ticket-register-form
  .ticket-register-data
  .ticket-register-dual-select {
  display: flex;
  justify-content: space-between;
}
/* 
#ticket-register
  .ticket-register-form
  .ticket-register-data
  .ticket-register-dual-select
  .first {
  margin-right: 5rem;
  width: 30%;
} */
#ticket-register #inputs .input-primary {
  max-width: 100% !important;
}

#ticket-register
  .ticket-register-form
  .ticket-register-data
  .ticket-register-select,
#ticket-register .ticket-equipment {
  display: block;
  width: 50%;
}

#ticket-register .ticket-register-form .ticket-register-description textarea {
  width: 100%;
  background-color: #f2f2f3;
  color: #495057;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  min-height: 120px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
  margin-top: 16px;
}

#ticket-register .ticket-register-form .ticket-register-submit {
  text-align: end;
  padding-top: 1%;
  padding-bottom: 1%;
}

#ticket-register .ticket-register-form select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#ticket-register form label {
  font-size: 1.5rem;
  color: var(--color-black-light);
}

#ticket-register .navigation-button {
  cursor: pointer;
}

#ticket-register .navigation-button:hover {
  filter: brightness(40%);
}

#ticket-register Footer {
  padding: 1.5;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 583px) {
  #ticket-register .ticket-register-form .form-sections {
    margin-bottom: 3rem;
  }

  #ticket-register #inputs .input-primary {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 583px) and (max-width: 1227px) {
  #ticket-register .ticket-register-title h1 {
    font-size: 1.5rem;
    gap: 0.4rem;
  }

  #ticket-register .ticket-register-title svg {
    padding: 0.2vw 0;
  }

  #ticket-register #inputs .input-primary {
    max-width: 100% !important;
  }

  #ticket-register .ticket-register-content {
    margin-left: 5%;
  }

  #ticket-register .ticket-register-content .ticket-register-title {
    padding: 0 10% 0 5%;
  }

  #ticket-register .ticket-register-content {
    margin-top: 3rem;
    padding: 0%;
  }

  #ticket-register .ticket-register-form {
    width: 90%;
  }

  #ticket-register button {
    width: 100px;
  }

  #ticket-register .ticket-register-form .ticket-register-data,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-ticket-title,
  #ticket-register .ticket-priority,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-dual-select,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-dual-select
    .ticket-register-select,
  #ticket-register .ticket-equipment {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #ticket-register .ticket-register-form .ticket-register-data,
  #ticket-register .ticket-register-form .form-sections,
  #ticket-register .ticket-register-form .ticket-register-data-line {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  #ticket-register form label {
    color: var(--color-black-light);
  }

  #ticket-register Footer {
    position: relative;
  }
}

@media only screen and (max-width: 583px) {
  #ticket-register .ticket-register-form .ticket-register-submit {
    text-align: end;
    padding-top: 1%;
    padding-bottom: 15% !important;
  }

  #ticket-register .ticket-register-content {
    margin-left: 5%;
  }

  #ticket-register .ticket-register-content .ticket-register-title {
    padding: 0 10% 0 5%;
  }

  #ticket-register .ticket-register-title h1 {
    font-size: 1.5rem;
    gap: 0.4rem;
  }

  #ticket-register .ticket-register-title svg {
    padding: 0.2vw 0;
  }

  #ticket-register .ticket-register-content {
    margin-top: 3rem;
    padding: 0%;
  }

  #ticket-register .ticket-register-form {
    width: 90%;
  }

  #ticket-register button {
    width: 100px;
  }

  #ticket-register .ticket-register-form .ticket-register-data {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #ticket-register .ticket-register-form .ticket-register-data,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-ticket-title,
  #ticket-register .ticket-priority,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-dual-select,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-dual-select
    .ticket-register-select,
  #ticket-register .ticket-equipment,
  #ticket-register
    .ticket-register-form
    .ticket-register-data
    .ticket-register-dual-select
    .ticket-register-select
    .first {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  #ticket-register form label {
    color: var(--color-black-light);
  }

  #ticket-register Footer {
    position: fixed;
  }
}
